#firstnavbar
{
   background-color: #884f9f ;
   
}

.dropdown:hover .dropdown-menu {
   display: block;
   margin-top: 0; 
}
.custom-navbar a{
   color: white;
   margin-left: 10px;
   font-weight: bold;
   transition: 0.5s;
   font-size:20px;
  
 }

 #forteforever {
   color:purple;
   font-size:20px;
   padding:30px;
   z-index: 1000;
   
 }
 #forteforever a{
  color:purple;
  font-size:20px;
  padding:15px;
  
  
}


 #home::before{
   content: '';
   width: 100%;
   height: 90vh;
   position: absolute;
   background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(logos/main\ bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 80%;
   font-family: 'Roboto', sans-serif;
   opacity: 0.5;
   z-index: -1;
   
 }

 
.content{
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 100vh; 
  color:#5d3b71;
  font-weight: 700;
  text-align: center;
  
 }
.content h3
{
  padding-top:200px;
  font-weight: 700;
  font-size:70px;
}

.content p
{
  margin-top: 50px;
  font-size:33px;
  color:#884f9f;
}
.content div.text
{font-weight:lighter;
  color:#3f3f3f;
  font-family: Raleway, Helvetica, Arial, Lucida, sans-serif;
}

.content a
{
  color: #414143 !important;
  border-color: RGBA(255, 255, 255, 0);
  border-radius: 60px;
  font-size: 22px;
  font-weight: 700 !important;
  background-color: #65bc46;
  margin-top: 20px;
  
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
 
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}


.container-fluid img 
{
  width:30%;
}

#contact{
  color: white !important;
  border-color: RGBA(255, 255, 255, 0);
  border-radius: 60px;
  font-size: 22px;
  font-weight: 700 !important;
  background-color: #65bc46;
  

}
#forteforever{
  
  
  position:sticky;
 padding:20px;
}

#home-2 h3
{padding-top: 100px;
  text-align: center;
color:#5d3b71;
font-size:60px;
font-weight: 700;
}
.content-2 .first
{
  padding-top:100px;
  
   color: #884f9f ;
  font-size: 25px;
  font-weight: 700;
}

#home-2 .content-2 
{
  font-weight: 700;
  color:black;
  
  
}

#home-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
padding-left: 50px;
}

#img
{
  position:absolute;
border-radius: 175px 0 100px 0 ;
width: 335px;

display:inline-block;
left:0;
padding-left:100px;
margin-top:110px;


}


#top-banner h5
{color:black;
  
  font-weight:700;
  
}
#top-banner
{
  text-align: center;
  border-radius: 0;
   justify-content: center; 
background-color: #65bc46;
transition: background-color 1s ease, color 1s ease;
}

#top-banner:hover
{
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#contact:hover
{transition: background-color 0.3s ease, color 0.3s ease;
  background-color:#884f9f;
}
#contact
{
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text a:hover
{
background-color:#7cda24;
border-color: RGBA(255, 255, 255, 0);
}

#secondbutton
{border-radius: 60px;
  background-color:#884f9f;
border-color: RGBA(255, 255, 255, 0);
width:40%;

}
#secondbutton:hover
{transition: background-color 0.3s ease, color 0.3s ease; 
  background-color:#7cda24;
border-color: RGBA(255, 255, 255, 0);
border-radius: 60px;
}

#home-2 i
{
  transform: scale(0.5);
  vertical-align: middle;


}

#gray-section
{
  margin-top:70px;
  color:#884f9f;
  background-color: #d9dbdc;
 
  height:800px;
  text-align: center;
  
  
}
#gray-section h5
{font-weight: 700;
  font-size:40px;
  padding-top:80px;
  padding-bottom:60px;
}



.left-1 span
{
  font-weight: 700;
  color:black;
  margin-bottom:200px;
  

}
.right-1 span
{
  font-weight:700;
  color:black;
  margin-bottom:200px;
}

.left-1 .tags
{
  color:#884f9f;
  font-size:30px;
}
.right-1 .tags
{
  color:#884f9f;
  font-size:30px;
}

.container-gray 
{
  display: flex; /* Sol ve sağdaki öğeleri yan yana yerleştirir */
  justify-content: space-between;
  list-style-type: none;
  margin-left: 200px;
  margin-right:200px;
  margin-top:20px;
  
  
  
}
.container-gray li
{
  list-style-type: none;
  display:flex;
  padding-bottom:20px;
  padding-left:20px;
  text-align: left;
  padding:15px;
  align-items: center;

}
.container-gray a
{
 
  padding-right: 25px;
}

.app
{
  background-color: #884f9f;
 height:200px;

  color:white;
  display: flex;
  justify-content: center; /* Yatayda ortalar */
  align-items: center; 
  text-align:right;
  padding-right:350px;
}
