.navbar
{
   background-color: #884f9f ;
}

.dropdown:hover .dropdown-menu {
   display: block;
   margin-top: 0; 
}
custom-navbar{
   color: red;
   margin-left: 10px;
   font-weight: bold;
   transition: 0.5s;
 }